In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("odi.csv")

In [3]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,0,0,301
1,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,0,0,301
2,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,4,0,0,0,301
3,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,6,0,0,0,301
4,1,2006-06-13,"Civil Service Cricket Club, Stormont",England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,6,0,0,0,301

In [4]:
df=df.drop(["mid","date","venue","runs_last_5","wickets_last_5"],axis=1)

In [50]:
df.head(30000)

,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,striker,non-striker,total
0,England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0,0,301
1,England,Ireland,ME Trescothick,DT Johnston,0,0,0.2,0,0,301
2,England,Ireland,ME Trescothick,DT Johnston,4,0,0.3,0,0,301
3,England,Ireland,ME Trescothick,DT Johnston,6,0,0.4,0,0,301
4,England,Ireland,ME Trescothick,DT Johnston,6,0,0.5,0,0,301
...,...,...,...,...,...,...,...,...,...,...
29995,Australia,New Zealand,ML Hayden,JS Patel,37,1,6.1,20,14,348
29996,Australia,New Zealand,ML Hayden,JS Patel,37,1,6.2,20,14,348
29997,Australia,New Zealand,ML Hayden,JS Patel,38,1,6.3,21,14,348
29998,Australia,New Zealand,RT Ponting,JS Patel,40,1,6.4,21,16,348
29999,Australia,New Zealand,RT Ponting,JS Patel,44,1,6.5,21,20,348

# 1. Dropping Output Column

In [6]:
X=df.drop(["total"],axis=1)

In [7]:
y=df["total"]

In [8]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
X["bat_team"]=label.fit_transform(X["bat_team"])

In [9]:
X["bowl_team"]=label.fit_transform(X["bowl_team"])
X["batsman"]=label.fit_transform(X["batsman"])
X["bowler"]=label.fit_transform(X["bowler"])

# 2. Splitting the Data

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

# 3. Training

In [12]:
from sklearn.tree import DecisionTreeRegressor

In [13]:
tree=DecisionTreeRegressor()

In [17]:
tree.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

# 4. Score

In [18]:
tree.score(X_test,y_test)

0.8837003507393838

# 5. Prediction

In [20]:
X.columns

Index(['bat_team', 'bowl_team', 'batsman', 'bowler', 'runs', 'wickets',
       'overs', 'striker', 'non-striker'],
      dtype='object')

In [54]:
data=pd.DataFrame([{0:0,1:0,2:1.0,3:1,4:60,5:1,6:10.0,7:45,8:12}])

In [55]:
data

   0  1    2  3   4  5     6   7   8
0  0  0  1.0  1  60  1  10.0  45  12

In [56]:
tree.predict(data)

array([417.])